section.about 
    .container  
        .title.title--width-bottom-line.decorate
            h2.title.title__header About us
            .title__text We are added our major Services

        ul.about__list
            li.about__item
                .icon.icon-like: img.like__picture(src="../images/like.png" alt="picture")
                h3.abut__header Facebook Marketing
                p.about__description Lorem Ipsum is simply dummy text of the printing and typesetting industry. standart dummy text ever
            li.about__item
                .icon.icon-book: img.book__picture(src="../images/book.png" alt="picture")
                h3.abut__header landing pages Creation
                p.about__description Lorem Ipsum is simply dummy text of the printing and typesetting industry. standart dummy text ever
            li.about__item
                .icon.icon-message: img.message__picture(src="../images/message.png" alt="picture")
                h3.abut__header Ads management
                p.about__description Lorem Ipsum is simply dummy text of the printing and typesetting industry. standart dummy text ever     