
<section class="about"> 
  <div class="container"> 
    <div class="title title--width-bottom-line decorate">
      <h2 class="title title__header">About us</h2>
      <div class="title__text">We are added our major Services</div>
    </div>
    <ul class="about__list">
      <li class="about__item">
        <div class="icon icon-like"><img class="like__picture" src="../images/like.png" alt="picture"/></div>
        <h3 class="abut__header">Facebook Marketing</h3>
        <p class="about__description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. standart dummy text ever</p>
      </li>
      <li class="about__item">
        <div class="icon icon-book"><img class="book__picture" src="../images/book.png" alt="picture"/></div>
        <h3 class="abut__header">landing pages Creation</h3>
        <p class="about__description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. standart dummy text ever</p>
      </li>
      <li class="about__item">
        <div class="icon icon-message"><img class="message__picture" src="../images/message.png" alt="picture"/></div>
        <h3 class="abut__header">Ads management</h3>
        <p class="about__description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. standart dummy text ever     </p>
      </li>
    </ul>
  </div>
</section>