
<section class="approach">
  <div class="container"> 
    <div class="title title--width-bottom-line decorate">
      <h2 class="title title__header">Our Approach</h2>
      <div class="title__text">Check Our approaches step by step ( how we do it)</div>
    </div>
    <ul class="approach__list">
      <li class="approach__item">
        <div class="approach__image"><img class="approach__picture" src="../images/step-1.png" alt="picture"/>
          <div class="approach__step">step</div>
        </div>
        <div class="approach__text">
          <div class="approach__title">Step 1 : Heading Here</div>
          <p class="approach__description">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
            when an unknown printer took a galley of type and scrambled.
          </p>
        </div>
      </li>
      <li class="approach__item">
        <div class="approach__image"><img class="approach__picture" src="../images/step-2.png" alt="picture"/>
          <div class="approach__step">step</div>
        </div>
        <div class="approach__text">
          <div class="approach__title">Step 2 : Heading Here</div>
          <p class="approach__description">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
            when an unknown printer took a galley of type and scrambled.
          </p>
        </div>
      </li>
      <li class="approach__item">
        <div class="approach__image"><img class="approach__picture" src="../images/step-3.png" alt="picture"/>
          <div class="approach__step">step</div>
        </div>
        <div class="approach__text">
          <div class="approach__title">Step 3 : Heading Here</div>
          <p class="approach__description">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
            when an unknown printer took a galley of type and scrambled.
          </p>
        </div>
      </li>
      <li class="approach__item">
        <div class="approach__image"><img class="approach__picture" src="../images/step-4.png" alt="picture"/>
          <div class="approach__step">step</div>
        </div>
        <div class="approach__text">
          <div class="approach__title">Step 4 : Heading Here</div>
          <p class="approach__description">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
            when an unknown printer took a galley of type and scrambled.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>