
<header class="header">
  <div class="header-top">
    <div class="container">
      <div class="contacts"><a class="contact" href="#"><i class="fas fa-mobile-alt" aria-hidden="true"></i><span class="contact-text">312339163</span></a><a class="contact" href="#"><i class="fas fa-envelope" aria-hidden="true"></i><span class="contact__text">Dragon-of-fire@mail.com</span></a><a class="facebook-icon" href="https://www.facebook.com/">   <i class="fab fa-facebook-f" aria-hidden="true">   </i></a></div>
    </div>
  </div>
  <div class="container">               </div>
  <div class="header-bottom">
    <div class="logo"><img class="logo__picture" src="../images/logo.png" alt="picture"/></div>
    <nav class="nav"></nav><a class="nav__link" href="#"> <a class="nav__link nav__link--active" href="#">Home</a></a><a class="nav__link" href="#"> <a class="nav__link" href="#">About Us</a></a><a class="nav__link" href="#"> <a class="nav__link" href="#">Our Approch</a></a><a class="nav__link" href="#"> <a class="nav__link" href="#">Our Work</a></a><a class="button header button button--red" href="#">Free Consultation            </a>
  </div>
</header>