header.header
    .header-top
        .container
            .contacts
                a.contact(href="tel:+0312-339-163")
                    i.fa.fa-mobile(aria-hidden="true")
                    span.contact-text 312339163
                a.contact(href="#")
                    i.fa.fa-envelipe.contact__icon.contact__icon--email(aria-hidden="true")
                    span.contact__text Dragon-of-fire@mail.com
                a.facebook-icon(href="facebook.com")    
                    i.fa.fa-faccebook(aria-hidden)    
    .container                
    .header-bottom
        .logo: img.logo__picture(src="images" alt="picture")
