
<section class="work">
  <div class="container">
    <div class="title title--width-bottom-line decorate">
      <h2 class="title title__header">Our Work</h2>
      <div class="title__text">We are added our featured below</div>
    </div>
    <ul class="work__list">
      <li class="work__item work__item--name"><img class="work__img" src="../images/bird.png" alt="picture"/>
        <div class="work__name">Project name</div>
        <div class="work__description">Facebook marketing        </div>
      </li>
      <li class="work__item"><img class="work__picture" src="../images/work-1.png" alt="picture"/></li>
      <li class="work__item work__item--name"><img class="work__img" src="../images/bird.png" alt="picture"/>
        <div class="work__name">Project name</div>
        <div class="work__description">Facebook marketing        </div>
      </li>
      <li class="work__item"><img class="work__picture" src="../images/work-2.png" alt="picture"/></li>
      <li class="work__item"><img class="work__picture" src="../images/work-3.png" alt="picture"/></li>
      <li class="work__item work__item--name"><img class="work__img" src="../images/bird.png" alt="picture"/>
        <div class="work__name">Project name</div>
        <div class="work__description">Facebook marketing        </div>
      </li>
      <li class="work__item"><img class="work__picture" src="../images/work-4.png" alt="picture"/></li>
      <li class="work__item work__item--name"><img class="work__img" src="../images/bird.png" alt="picture"/>
        <div class="work__name">Project name</div>
        <div class="work__description">Facebook marketing        </div>
      </li>
    </ul>
  </div>
</section>