<!DOCTYPE html >
<html lang="ru">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="EA-edge"/>
    <meta name="viewpoint" content="width=device-width"/>
    <link rel="stylesheet" href="css/main.min.css"/>
    <title>Busines</title>
  </head>
  <body> 
    <header class="header">
      <div class="header-top">
        <div class="container">
          <div class="contacts"><a class="contact" href="tel:+0312-339-163"><i class="fa fa-mobile" aria-hidden="true"></i><span class="contact-text">312339163</span></a><a class="contact" href="#"><i class="fa fa-envelipe contact__icon contact__icon--email" aria-hidden="true"></i><span class="contact__text">Dragon-of-fire@mail.com</span></a><a class="facebook-icon" href="facebook.com">   <i class="fa fa-faccebook" aria-hidden="aria-hidden">   </i></a></div>
        </div>
      </div>
      <div class="container">               </div>
      <div class="header-bottom">
        <div class="logo"><img class="logo__picture" src="images" alt="picture"/></div>
      </div>
    </header>
  </body>
</html>