<!DOCTYPE html >
<html lang="ru">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="EA-edge"/>
    <meta name="viewpoint" content="width=device-width"/>
    <link rel="stylesheet" href="../styles/main.css"/>
    <title>Busines</title>
    <script defer="defer" src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>
  </head>
  <body> 
    <header class="header">
      <div class="header__top">
        <div class="container">
          <div class="contacts"><a class="contact" href="#"><i class="fas fa-mobile-alt contact__icon" aria-hidden="true"></i><span class="contact-text">312339163</span></a><a class="contact" href="#"><i class="fas fa-envelope contact__icon contact__icon--email" aria-hidden="true"></i><span class="contact__text">Dragon-of-fire@mail.com</span></a><a class="facebook-icon" href="https://www.facebook.com/">   <i class="fab fa-facebook-f" aria-hidden="true">   </i></a></div>
        </div>
      </div>
      <div class="container">               
        <div class="header__bottom">
          <div class="logo"><img class="logo__picture" src="../images/logo.png" alt="picture"/></div>
          <nav class="nav"><a class="nav__link nav__link--active" href="#">Home</a><a class="nav__link" href="#">About Us</a><a class="nav__link" href="#">Our Approch</a><a class="nav__link" href="#">Our Work</a>
          </nav><a class="button header button button--red" href="#">Free Consultation            </a>
        </div>
      </div>
    </header>
    <section class="hero">
      <div class="hero__about">We Providing</div>
      <h1 class="hero__title">Social Media marketing for businesses</h1><a class="button button--yellow button--text-uppercase" href="#">Free consulation</a>
    </section>
    <section class="about"> 
      <div class="container"> 
        <div class="title title--width-bottom-line decorate">
          <h2 class="title title__header">About us</h2>
          <div class="title__text">We are added our major Services</div>
        </div>
        <ul class="about__list">
          <li class="about__item">
            <div class="icon icon-like"><img class="like__picture" src="../images/like.png" alt="picture"/></div>
            <h3 class="abut__header">Facebook Marketing</h3>
            <p class="about__description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. standart dummy text ever</p>
          </li>
          <li class="about__item">
            <div class="icon icon-book"><img class="book__picture" src="../images/book.png" alt="picture"/></div>
            <h3 class="abut__header">landing pages Creation</h3>
            <p class="about__description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. standart dummy text ever</p>
          </li>
          <li class="about__item">
            <div class="icon icon-message"><img class="message__picture" src="../images/message.png" alt="picture"/></div>
            <h3 class="abut__header">Ads management</h3>
            <p class="about__description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. standart dummy text ever     </p>
          </li>
        </ul>
      </div>
    </section>
    <section class="approach">
      <div class="container"> 
        <div class="title title--width-bottom-line decorate">
          <h2 class="title title__header">Our Approach</h2>
          <div class="title__text">Check Our approaches step by step ( how we do it)</div>
        </div>
        <ul class="approach__list">
          <li class="approach__item">
            <div class="approach__image"><img class="approach__picture" src="../images/step-1.png" alt="picture"/>
              <div class="approach__step">step</div>
            </div>
            <div class="approach__text">
              <div class="approach__title">Step 1 : Heading Here</div>
              <p class="approach__description">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                when an unknown printer took a galley of type and scrambled.
              </p>
            </div>
          </li>
          <li class="approach__item">
            <div class="approach__image"><img class="approach__picture" src="../images/step-2.png" alt="picture"/>
              <div class="approach__step">step</div>
            </div>
            <div class="approach__text">
              <div class="approach__title">Step 2 : Heading Here</div>
              <p class="approach__description">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                when an unknown printer took a galley of type and scrambled.
              </p>
            </div>
          </li>
          <li class="approach__item">
            <div class="approach__image"><img class="approach__picture" src="../images/step-3.png" alt="picture"/>
              <div class="approach__step">step</div>
            </div>
            <div class="approach__text">
              <div class="approach__title">Step 3 : Heading Here</div>
              <p class="approach__description">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                when an unknown printer took a galley of type and scrambled.
              </p>
            </div>
          </li>
          <li class="approach__item">
            <div class="approach__image"><img class="approach__picture" src="../images/step-4.png" alt="picture"/>
              <div class="approach__step">step</div>
            </div>
            <div class="approach__text">
              <div class="approach__title">Step 4 : Heading Here</div>
              <p class="approach__description">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                when an unknown printer took a galley of type and scrambled.
              </p>
            </div>
          </li>
        </ul>
      </div>
    </section>
    <section class="work">
      <div class="container">
        <div class="title title--width-bottom-line decorate">
          <h2 class="title title__header">Our Work</h2>
          <div class="title__text">We are added our featured below</div>
        </div>
        <ul class="work__list">
          <li class="work__item work__item--name"><img class="work__img" src="../images/bird.png" alt="picture"/>
            <div class="work__name">Project name</div>
            <div class="work__description">Facebook marketing        </div>
          </li>
          <li class="work__item"><img class="work__picture" src="../images/work-1.png" alt="picture"/></li>
          <li class="work__item work__item--name"><img class="work__img" src="../images/bird.png" alt="picture"/>
            <div class="work__name">Project name</div>
            <div class="work__description">Facebook marketing        </div>
          </li>
          <li class="work__item"><img class="work__picture" src="../images/work-2.png" alt="picture"/></li>
          <li class="work__item"><img class="work__picture" src="../images/work-3.png" alt="picture"/></li>
          <li class="work__item work__item--name"><img class="work__img" src="../images/bird.png" alt="picture"/>
            <div class="work__name">Project name</div>
            <div class="work__description">Facebook marketing        </div>
          </li>
          <li class="work__item"><img class="work__picture" src="../images/work-4.png" alt="picture"/></li>
          <li class="work__item work__item--name"><img class="work__img" src="../images/bird.png" alt="picture"/>
            <div class="work__name">Project name</div>
            <div class="work__description">Facebook marketing        </div>
          </li>
        </ul>
      </div>
    </section>
  </body>
</html>